@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
body {
    font-family: 'SolaimanLipi', sans-serif;
    background-color: #fbfcfd;
}

@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1300px;
    }
}


a {
    color: #222;
}

a:hover {
    color: #222;
    text-decoration: none;
}

.main-logo {
    width: 200px;
}

button.search {
    color: #656565;
}

button.search:hover {
    background-color: #272727;
    border-color: #272727;
}

.header .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: rgb(17, 16, 16) !important;
}

.header-date{
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
}


.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.5);
    border-color: rgb(62 55 55 / 0%);

    border-radius: 25px;
}


/* ------ Mega Menu ------ */
nav.main .megamenu {
	padding: 20px 20px;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	max-width: 1500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.megamenu ul{

    padding-left: 25px;
}

.megamenu ul li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.megamenu ul li a{
    font-size: 15px;
}
@media (min-width: 1200px)
{
    .dropdown-menu.megamenu{
        width: 100% !important;
    }
}

  .social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
  }
  .social-buttons__button {
    margin: 10px 5px 0;
  }

  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 40px;
    height: 40px;
    text-decoration: none;
  }
  .social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
    border: 1px solid;
  }
  .social-button i,
  .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  .social-button i {
    font-size: 15px;
  }
  .social-button svg {
    height: 40%;
    width: 40%;
  }
  .social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
  }
  .social-button:focus, .social-button:hover {
    color: #fff;
  }
  .social-button:focus::after, .social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
  }
  .social-button--mail {
    color: #0072c6;
  }
  .social-button--mail::after {
    background: #0072c6;
  }
  .social-button--facebook {
    color: #3b5999;
  }

  .social-button--youtube {
    color: #ff3852;
  }
  .social-button--youtube::after {
    background: #3b5999;
  }

  .social-button--facebook::after {
    background: #3b5999;
  }
  .social-button--linkedin {
    color: #0077b5;
  }
  .social-button--linkedin::after {
    background: #0077b5;
  }
  .social-button--github {
    color: #6e5494;
  }
  .social-button--github::after {
    background: #6e5494;
  }
  .social-button--codepen {
    color: #212121;
  }
  .social-button--codepen::after {
    background: #212121;
  }
  .social-button--steam {
    color: #7da10e;
  }
  .social-button--steam::after {
    background: #7da10e;
  }
  .social-button--snapchat {
    color: #eec900;
  }
  .social-button--snapchat::after {
    background: #eec900;
  }
  .social-button--twitter {
    color: #55acee;
  }
  .social-button--twitter::after {
    background: #55acee;
  }
  .social-button--instagram {
    color: #e4405f;
  }
  .social-button--instagram::after {
    background: #e4405f;
  }
  .social-button--npmjs {
    color: #c12127;
  }
  .social-button--npmjs::after {
    background: #c12127;
  }

















.navbar {
	border: none;
	-webkit-box-shadow: 0 0 5px rgb(0 0 0/14%);
	box-shadow: 0 0 5px rgb(0 0 0/14%)
}

::-webkit-scrollbar {
	background: #eee;
	width: 10px
}

::-webkit-scrollbar-thumb {
	background: #494949
}

.ad-box {
	background-color: #c9c9c9;
	height: 193px;
	width: 100%;
	display: block
}

.news-box {
	width: 100%;
	display: block;
	cursor: pointer
}

.news-box img {
	width: 100%
}

.news-box h1 {
	font-weight: 700;
	font-size: 20px;
	color: #222
}

.news-box p {
	font-size: 15px;
	font-weight: 500;
	color: #222
}

.news-box small {
	font-size: 12px;
	color: #929292
}

.news-bar {
	min-height: 80px;
	width: 100%;
	display: block;
	cursor: pointer
}

.news-bar img {
	width: 100%
}

.news-bar h1 {
	font-weight: 700;
	font-size: 16px;
	color: #222
}

.news-bar small {
	font-size: 12px;
	color: #929292
}

.h-10 {
	background-color: #ffebcd;
	height: 200px
}

.h-20 {
	background-color: #ffebcd;
	height: 400px
}

.cat-title {
	font-size: 20px;
	font-weight: 700;
	color: #000
}

.cat-title i {
	color: red;
	font-size: 17px
}

.section-video {
	background-color: #242424
}

.section-video .cat-title {
	color: #fafafa
}

.section-video .video {
	background-color: #000;
	height: 200px;
	display: block
}

.section-video .videoone {
	background-color: #000;
	height: 400px;
	display: block
}

.nav-tabs .nav-link {
	font-weight: 700
}

@media only screen and (min-width:968px) {
	.line-top {
		border-top: 1px solid #e6e6e7
	}
	.line-bottom {
		border-bottom: 1px solid #e6e6e7
	}
	.line-left {
		border-left: 1px solid #e6e6e7
	}
	.line-right {
		border-right: 1px solid #e6e6e7
	}
	.big h1 {
		font-size: 20px
	}
}

@media(min-width:1920px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1280px
	}
}

@media(max-width:1280px) {
	.main-logo {
		width: 150px
	}
}

@media (max-width: 800px) {

    .navbar {
        border: none;
        -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 14%);
        box-shadow: 0 0 5px rgb(0 0 0 / 48%);
        border-radius: 10px;
    }

    .news-box {
        background: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 0px 5px rgb(0 0 0 / 47%);
        box-shadow: 0 0px 5px rgb(0 0 0 / 47%);
    border-radius: 10px;
    }
    .news-bar {
        background: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 0px 5px rgb(0 0 0 / 47%);
        box-shadow: 0 0px 5px rgb(0 0 0 / 47%);
    border-radius: 10px;
    }

    .news-box img {
        border-radius: 5px;
    }

    .news-bar img {
        border-radius: 5px;
    }

    .social-button {

        width: 30px;
        height: 30px;

    }


}

.footer-big {
	padding: 105px 0 65px
}

.footer-big .footer-widget {
	margin-bottom: 40px
}

.footer--light {
	background: #02011f
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
	color: #ccc
}

.footer-menu {
	padding-left: 48px
}

.footer-menu ul li a {
	font-size: 17px;
	font-weight: 700;
	line-height: 32px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-decoration: none;
	list-style: none;
	color: #636363
}

.footer-menu ul li {
	list-style: none
}

.footer-menu ul li a:hover {
	color: #437ac2
}

.footer-menu--1 {
	width: 100%
}

.footer-widget-title {
	line-height: 42px;
	margin-bottom: 10px;
	font-size: 18px
}

.mini-footer {
	background: #040335;
	text-align: center;
	padding: 32px 0
}

.mini-footer p {
	margin: 0;
	line-height: 26px;
	font-size: 15px;
	color: #999
}

.mini-footer p a {
	color: #0d7fdf
}

.mini-footer p a:hover {
	color: #34bfa3
}

.widget-about img {
	display: block;
	margin-bottom: 30px
}

.widget-about p {
	font-weight: 700;
	font-size: 15px
}

.widget-about .contact-details {
	margin: 30px 0 0;
	padding: 0%
}

.widget-about .contact-details li {
	margin-bottom: 10px
}

.widget-about .contact-details li:last-child {
	margin-bottom: 0
}

.widget-about .contact-details li span {
	padding-right: 12px
}

.widget-about .contact-details li a {
	color: #2b2b2b;
	font-weight: 700;
	font-size: 14px
}

.widget-about .contact-details li {
	list-style: none
}

@media(max-width:991px) {
	.footer-menu {
		padding-left: 0
	}
}

.hyper-link {
	background: #1c4a7b;
	padding: 5px 10px;
	border-radius: 15px;
	color: #fbfcfd;
	margin-bottom: 15px;
	font-weight: 700
}

.hyper-link:hover {
	background: #587ba0;
	color: #fbfcfd
}

.copyright {
	font-size: 15px;
	font-weight: 600
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	background: #272727;
	border-radius: 0
}

.nav-tabs .nav-item {
	text-align: center;
	width: 50%
}

.category .news-box {
	background-color: #f7f7f7;
	padding: 10px
}

.latest-popular {
	background-color: #ebebeb
}

.latest-popular i {
	font-size: 12px
}

.latest-popular h2 {
	font-size: 16px
}

.latest-popular .nav-tabs .nav-link:hover {
	border: none;
	color: #464646
}

.latest-popular .nav-tabs .nav-link.active:hover {
	border: none;
	color: #fff
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus:hover {
	box-shadow: none
}

.news-box.single-page p {
	font-size: 18px!important;
	text-align: justify
}

.wetget li {
	list-style: none!important
}

.box {
	background-color: #858585;
	display: block;
	width: 100%;
	border: 2px solid #f13d3d
}

.media-box {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #303030;
	padding: 20px
}

.carousel-control-next,
.carousel-control-prev {
	width: 50px;
	height: 50px;
	top: 46%;
	background: rgba(0, 0, 0, .83);
	border-radius: 28px;
	margin: 5px
}

.tab-content {
	border: 1px solid #ebebeb
}

.widget-about a {
	margin: 4px
}
